@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    background-color: rgb(243, 243, 243);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
}

form {
    background-color: white;
    width: 350px;
    height: 210px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 0 12px rgb(93, 93, 93);
}

legend {
    padding-top: 20px;
    text-align: center;
}

label {
    margin-top: 8px;
    margin-left: 40px;

}

input[type="text"],
input[type="password"] {
    width: 270px;
    height: 20px;
    display: inline-block;
    margin-top: 1px;
}

button {
    width: 280px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    background-color: rgb(3, 155, 220);
    border: none;
    color: white;
}